.card__custom {
	display: flex;
	flex-direction: column;
	/* height: 600px; */
	/* width: 353px; */
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
	/* justify-content: space-between; */
		aspect-ratio: 247/296;
		flex-basis: 33.3%;
}

.card__image__custom {
	width: 90%;
	object-fit: cover;
	aspect-ratio: 1.1/1;
	max-width: 350px;
}

.preco_antigo {
  text-decoration: line-through;
  color: #b51e36;
  font-size: 90%;
  font-weight: 600;
}

.compare {
  font-size: 90%;
}

.card--image {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	height: 390px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 40px;
	object-fit: contain;
}

.card--image--div {
	position: relative;
}

.card--image--frame{
	width: 100%;
	box-sizing: border-box;
	border-radius: 50px;
}

.card--description {
	margin-top: -36px;
	text-align: center;
	width: 100%;
	max-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	z-index: 999;
}

.card__description_price_container {
	margin: 0 auto;
	width: 90%;
}


.card--description h3 {
	/* padding-bottom: 16px; */
	/* padding-top: 8px; */
	/* font-weight: 700; */
}

.card--description h2 {
	font-size: 16px;
	width: 100%;
	margin: 0;
}
.card--description h3 {
	font-size: 14px;
	margin: 0;
	font-weight: 600;
}

.card--description p {
	font-size: 14px;
	margin: auto;
}
/* .card--description button { */
/* 	background-color: black; */
/* 	color: white; */
/* 	margin-top: 16px; */
/* 	border: none; */
/* 	width: 360px; */
/* 	height: 80px; */
/* 	border-radius: 50px; */
/* 	font-size: 20px; */
/* 	opacity: 1; */
/* 	transition: 0.3s; */
/* 	cursor: pointer; */
/* } */

/* .fa { */
	/* font-size: 24px; */
/* } */

/* .card--description button:hover{ */
/* 	opacity: 0.5; */
/* } */

/* .next--card, .prev--card{ */
/* 	color: red; */
/* } */



@media only screen and (max-width:619px) {
.card__custom {
	aspect-ratio: 1/1;
	margin-bottom: 32px;
	flex-basis: 50%;
}
.card__description_price_container {
		/*line-height: 2px;*/
	}
}

@media only screen and (max-width: 859px) {
	.card--description {
		background-color: white;
		margin-top: unset;
	}
}


@media only screen and (max-width: 620px) {
	.card--description p {
		font-size: 2.5vw;
	}
	.card--description h3 {
		font-size: 2.5vw;
		margin-bottom: 0.5vw;
	}
	.card--description h2 {
		font-size: 2.5vw;
	}
}


.discount {
	position: absolute;
	right: 0;
	width: 82px;
	height: 34px;
	background-color: #b51e36;
	z-index: 999;
	text-align: right;
	border-top: 9px solid #b51e36;
	border-right: 8px solid #b51e36;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
}

@media only screen and (max-width: 480px) {
	.card--description p {
		font-size: 3vw;
	}
	.card--description h3 {
		font-size: 3vw;
		margin-bottom: 0.5vw;
	}
	.card--description h2 {
		font-size: 3vw;
	}
	.discount {
		width: 30%;
		height: unset;
		aspect-ratio: 3/1;
		font-size: 4vw;
		border-right: 1vw solid #b51e36;
		border-top: 1vw solid #b51e36;
	}
}


.card__description-model {
	/*font-weight: 600;*/
	font-size: 32px;
}
